# Database Configuration
POSTGRES_DB=carbon_calculator
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Backend Configuration
BACKEND_PORT=8080
JWT_SECRET=5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
JWT_EXPIRATION=86400000

# Frontend Configuration
FRONTEND_PORT=4200
API_URL=http://localhost:8080

# Docker
COMPOSE_PROJECT_NAME=carbon-calculator
